@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Wypożyczalnia sprzętu komputerowego</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tu wypożyczysz potrzebny sprzęt komputerowy</h2>
        <p>
            Witaj, tutaj znajdziesz, obejrzysz
            i wypożyczysz przedmioty, które Cię interesują.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Lista sprzętu</h2>
        <p>Przeszukaj sprzęt z listy</p>
        <p><a class="btn btn-default" href="/Sprzets">Przeszukaj bazę &raquo;</a></p>
    </div>
</div>
