@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>Bardzo ważna polityka prywatności</h1>

<h3>Jakiś bardzo ważny tytuł</h3>
<p>Jakieś ważne słowa, gdzie zapisane są wysiłki notariuszy, prawników i osób technicznych, żeby zapobiec niechcianym konsekwencjom prawnym. I tak nikt tego nie czyta. A nawet jak próbuje to i tak nie zrozumie.</p>
